language: php

matrix:
  include:
    - php: 7.2
    - php: 7.3
    - php: 7.4snapshot
    - php: nightly
  allow_failures:
    - php: 7.4snapshot
    - php: nightly

before_install:
  - curl -o tests/cacert.pem https://curl.haxx.se/ca/cacert.pem
  - travis_retry composer install --no-interaction --prefer-source

script: vendor/bin/phpunit --configuration phpunit.xml

after_success: bash <(curl -s https://codecov.io/bash)
