<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
		 bootstrap="vendor/autoload.php"
		 cacheResultFile=".build/phpunit.result.cache"
		 colors="true"
>
	<testsuites>
		<testsuite name="php-httpinterface test suite">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
	<source>
		<include>
			<directory>src</directory>
		</include>
	</source>
	<coverage>
		<report>
			<clover outputFile=".build/coverage/clover.xml"/>
			<xml outputDirectory=".build/coverage/coverage-xml"/>
		</report>
	</coverage>
	<groups>
		<exclude>
			<group>slow</group>
		</exclude>
	</groups>
	<php>
		<const name="REQUEST_FACTORY" value="chillerlan\HTTP\Psr7\HTTPFactory"/>
		<const name="RESPONSE_FACTORY" value="chillerlan\HTTP\Psr7\HTTPFactory"/>
		<const name="SERVER_REQUEST_FACTORY" value="chillerlan\HTTP\Psr7\HTTPFactory"/>
		<const name="STREAM_FACTORY" value="chillerlan\HTTP\Psr7\HTTPFactory"/>
		<const name="UPLOADED_FILE_FACTORY" value="chillerlan\HTTP\Psr7\HTTPFactory"/>
		<const name="URI_FACTORY" value="chillerlan\HTTP\Psr7\HTTPFactory"/>
	</php>
</phpunit>
